# Copy this file to .env and replace the credentials with
# your own before starting the app.

DB_DATABASE=<Database name>
DB_HOSTNAME=<Hostname>
DB_PORT=50000 #PORT which Db2 is running on, likely to be the same no need to alter
DB_UID=<username>
DB_PWD=<password>
DB_SCHEMA=<schema is your user name on Db2 credentials> 
PORT=3000